h1, h2, h3 {
	font-weight: normal;
	color: #209ab7;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

body {
	position: absolute;
	left: 2%;
	right: 2%;
	top: 0;
	bottom: 0;
	margin: auto;
	font-family: 'Arial', sans-serif;
	color: #dddddd;
	background-color: #1b1b1b;
}

p {
	margin: 10px;
}

#viewer {
	height: 100%;
	display: inline-block;
	width: 70%;
	margin: 0;
	float: left;
}

#system-canvas {
	background-color: #080808;
}

#editor {
	height: 100%;
	display: inline-block;
	padding-left: 2%;
	width: 28%;
	margin: 0;
	float: left;
}

#header {
	display: inline-block;
	width: 100%;
	height: 22%;
}

#parameters {
	overflow: auto;
	display: inline-block;
	height: 75%;
	background-color: #282828;
}

#delete-all {
	background-color: #cc5000;
}

input[type=number] {
	height: 30px;
	width: 30%;
	color: #eeeeee;
	background-color: #444444;
	border: none;
	font-family: monospace;
	font-size: 18px;
	box-sizing: border-box;
  	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text] {
	width: 40%;
	color: #eeeeee;
	background-color: #444444;
	border: none;
	font-family: monospace;
	font-size: 18px;
	box-sizing: border-box;
}

.label {
	display: inline-block;
	width: 30%;
	margin-right: 2%;
}

input[type=color] {
	width: 20%;
	background-color: #444444;
	border: none;
	font-family: monospace;
	font-size: 18px;
}

input:disabled, select:disabled {
	opacity: 0.5;
}

select {
	height: 30px;
	width: 20%;
	color: #eeeeee;
	background-color: #444444;
	border: none;
	font-size: 18px;
}

button  {
	height: 30px;
	width: 20%;
	color: #eeeeee;
	background-color: #444444;
	border: none;
	font-size: 14px;
	padding: 0 5px 0 5px;
	margin: 0 2px 0 2px;
}

.inc-button, .dec-button {
	width: 6%;
	background-color: #209ab7;
	font-family: monospace;
	font-size: 20px;
}

input[type=range] {
	width: 20%;
}
button:active {
	background-color: #555555;
}

.time-unit, .dist-unit, .mass-unit{
	width: 15%;
}

a:link, a:visited, a:active {
	color: #00bad7;
}

a:hover {
	color: #4effee;
}
